.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #fe615a;
  border-radius: 4px;
  background: #fe615a;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #f34343;
  border-color: #f34343;
}

.button--inverse {
  background: transparent;
  color: #fe615a;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #fe615a;
}

.button--danger {
  background: #CB4335;
  border-color: #CB4335;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
